<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxust.edu.rental_room.mapper.HouseMapper">

    <resultMap id="BaseResultMap" type="com.gxust.edu.rental_room.domain.House">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="title_img" jdbcType="VARCHAR" property="titleImg"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="rent_way" jdbcType="VARCHAR" property="rentWay"/>
        <result column="orientation" jdbcType="VARCHAR" property="orientation"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="sex_limit" jdbcType="VARCHAR" property="sexLimit"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="desc_img" jdbcType="VARCHAR" property="descImg"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="retal_status" jdbcType="TINYINT" property="rentalStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="release_time" jdbcType="DATE" property="releaseTime"/>
    </resultMap>

    <select id="findByQuery" resultMap="BaseResultMap" parameterType="houseQuery">
        select * from t_house
        <where>
            <if test="title != null and title!=''">
                <bind name="likeTitle" value="'%' + _parameter.title + '%'"/>
                and title like #{likeTitle}
            </if>
        </where>
    </select>

    <!--根据Id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="int">
        SELECT * from t_house where id = #{id,jdbcType=INTEGER}
    </select>

    <!--添加-->
    <!--<insert id="add" parameterType="house" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into house (userId, title, title_img,
      name, type, address,
      rent_way, city, sex_limit,
      area, storey, storey_sum,
      building_id, cell_id, room_id,
      price, text_img, contacts,
      phone, status, text
      )
    values (#{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{titleImg,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{rentWay,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{sexLimit,jdbcType=VARCHAR},
      #{area,jdbcType=VARCHAR}, #{storey,jdbcType=VARCHAR}, #{storeySum,jdbcType=VARCHAR},
      #{buildingId,jdbcType=VARCHAR}, #{cellId,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR},
      #{price,jdbcType=INTEGER}, #{textImg,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{text,jdbcType=LONGVARCHAR}
      )
    </insert>-->
    <insert id="add" parameterType="house" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into t_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="titleImg != null">
                title_img,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="rentWay != null">
                rent_way,
            </if>
            <if test="orientation != null">
                orientation,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="sexLimit != null">
                sex_limit,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="descImg != null">
                desc_img,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="rentalStatus != null">
                rental_status,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="desc != null">
                desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="titleImg != null">
                #{titleImg,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="rentWay != null">
                #{rentWay,jdbcType=VARCHAR},
            </if>
            <if test="orientation != null">
                #{orientation,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="sexLimit != null">
                #{sexLimit,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="descImg != null">
                #{descImg,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="rentalStatus != null">
                #{rentalStatus,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteById" parameterType="int">
      delete from t_house where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="int">
        delete from t_house where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--更新-->
    <update id="update" parameterType="house">
        update t_house
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="titleImg != null">
                title_img = #{titleImg,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="rentWay != null">
                rent_way = #{rentWay,jdbcType=VARCHAR},
            </if>
            <if test="orientation != null">
                orientation = #{rentWay,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="sexLimit != null">
                sex_limit = #{sexLimit,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="descImg != null">
                desc_img = #{descImg,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="rentalStatus != null">
                rental_status = #{rentalStatus,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="desc != null">
                text = #{desc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllRental" resultMap="BaseResultMap">
        select * from t_house where status = 1 and rental_status = 1
        <if test="title != null and title!=''">
            <bind name="likeTitle" value="'%' + _parameter.title + '%'"/>
            and title like #{likeTitle}
        </if>
    </select>

</mapper>