<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxust.edu.rental_room.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.gxust.edu.rental_room.domain.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="types" jdbcType="INTEGER" property="types"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sorts" jdbcType="INTEGER" property="sorts"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
    </resultMap>

    <resultMap id="BaseMenuResultMap" type="com.gxust.edu.rental_room.domain.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="types" jdbcType="INTEGER" property="types"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sorts" jdbcType="INTEGER" property="sorts"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <collection property="children" ofType="com.gxust.edu.rental_room.domain.Permission" column="id"
                    select="findSecondMenu"></collection>
    </resultMap>


    <resultMap id="menuAndPermissionResultMap" type="permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="types" jdbcType="INTEGER" property="types"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sorts" jdbcType="INTEGER" property="sorts"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <collection property="children" ofType="com.gxust.edu.rental_room.domain.Permission" column="id"
                    select="findPermission"></collection>
    </resultMap>

    <!--查找菜单和权限-->
    <select id="findAllPermission" resultMap="menuAndPermissionResultMap">
        select * from t_permission where parent_id = 0
        <if test="roleId != null">
            AND id IN (
            SELECT
            perm_id
            FROM
            t_role_permission
            WHERE
            role_id = #{roleId})
        </if>
        <if test="userId != null">
            AND id IN (
            SELECT
            perm_id
            FROM
            t_role_permission
            WHERE
            role_id = ( SELECT role_id FROM t_user_role WHERE user_id = #{userId} ))
        </if>
        order by sorts;
    </select>
    <select id="findPermission" resultMap="menuAndPermissionResultMap">
        select * from t_permission where parent_id = #{id} order by sorts;
    </select>

    <!--根据查询条件查询-->
    <select id="findByQuery" resultMap="BaseResultMap" parameterType="roleQuery">
        select * from t_permission
        <where>
            <if test="name != null and name!=''">
                <bind name="likeName" value="'%' + _parameter.name + '%'"/>
                and name like #{likeName}
            </if>
            <if test="description != null and description!=''">
                <bind name="likeDescription" value="'%' + _parameter.description + '%'"/>
                and description like #{likeDescription}
            </if>
        </where>
        order by id,parent_id,sorts
    </select>

    <!--根据Id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="int">
        SELECT * from t_permission where id = #{id,jdbcType=INTEGER}
    </select>

    <!--添加-->
    <!--<insert id="add" parameterType="permission" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            parent_id,
            types,
            url,
            sorts,
            description,
            perms,
            component_path,
            icon
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{name},
            #{parentId},
            #{types},
            #{url},
            #{sorts},
            #{description},
            #{perms},
            #{componentPath},
            #{icon}
        </trim>
    </insert>-->
    <insert id="add">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="types != null">
                `types`,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="componentPath != null">
                component_path,
            </if>
            <if test="icon != null">
                icon,
            </if>
            sorts,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="types != null">
                #{types},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="perms != null">
                #{perms},
            </if>
            <if test="componentPath != null">
                #{componentPath},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            ((SELECT temp.sorts FROM (SELECT  MAX(sorts)+1 sorts FROM t_permission WHERE types = #{types} GROUP BY types) temp )),
        </trim>
    </insert>

    <!--删除-->
    <delete id="deleteById" parameterType="int">
      delete from t_permission where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="int">
        delete from t_permission where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--更新-->
    <update id="update" parameterType="role">
        update t_permission
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null and parentId != ''">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="types != null and types != ''">
                types = #{types,jdbcType=INTEGER},
            </if>
            <if test="url != null and url != ''">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="sorts != null and sorts != ''">
                sorts = #{sorts,jdbcType=INTEGER},
            </if>
            <if test="description != null and description != ''">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="perms != null and perms != ''">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="componentPath != null and componentPath != ''">
                component_path = #{componentPath,jdbcType=VARCHAR},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据用户id或角色id查找所有权限和菜单-->
    <select id="selectFirstMenuByUserIdOrRoleId" resultMap="BaseResultMap">
        select p.* from t_permission p,t_role_permission rp
        where p.id = rp.perm_id
        and p.parent_id = 0
        <if test="roleId != null">
            and rp.role_id = #{roleId}
        </if>
        <if test="userId != null">
            and rp.role_id = (select role_id from t_user_role where user_id = #{userId})
        </if>
        order by p.sorts;
    </select>
    <select id="selectLeafByUserIdOrRoleId" resultMap="BaseResultMap">
        select p.* from t_permission p,t_role_permission rp
        where p.id = rp.perm_id
        and p.parent_id != 0
        <if test="roleId != null">
            and rp.role_id = #{roleId}
        </if>
        <if test="userId != null">
            and rp.role_id = (select role_id from t_user_role where user_id = #{userId})
        </if>
        order by p.sorts;
    </select>

    <!--根据用户id查找菜单权限标识-->
    <select id="findStringPermsByUserId" resultType="java.lang.String">
        select distinct p.perms
        from t_permission p
        inner join t_role_permission rp
        on p.id = rp.perm_id
        inner join t_user_role tur on rp.role_id = tur.role_id
        inner join t_user tu on tur.user_id = tu.id
        where tu.id = #{userId}
    </select>

    <!--查找菜单-->
    <select id="findMenu" resultMap="com.gxust.edu.rental_room.mapper.PermissionMapper.BaseMenuResultMap">
       select * from t_permission where parent_id = 0 and types = 0 order by sorts
    </select>
    <select id="findSecondMenu" resultMap="com.gxust.edu.rental_room.mapper.PermissionMapper.BaseResultMap">
        select * from t_permission where parent_id = #{id} and types = 1 order by sorts
    </select>

    <select id="findByParentId" resultMap="BaseResultMap">
        select * from t_permission where types = 2 and parent_id = #{parentId}
    </select>


    <!--<select id="findLevelMenu" resultMap="LevelResultMap">
        SELECT
            p.*,
            c.NAME c_name,
            c.parent_id c_parent_id,
            c.types c_types,
            c.url c_url,
            c.levels c_levels,
            c.state c_state,
            c.sorts c_sorts,
            c.description c_description,
            c.component_name c_component_name,
            c.component_path c_component_path,
            c.icon c_icon,
            d.NAME d_name,
            d.parent_id d_parent_id,
            d.types d_types,
            d.url d_url,
            d.levels d_levels,
            d.state d_state,
            d.sorts d_sorts,
            d.description d_description,
            d.component_name d_component_name,
            d.component_path d_component_path,
            d.icon d_icon
        FROM
            t_permission p
            LEFT JOIN t_permission c ON p.id = c.parent_id
            LEFT JOIN t_permission d ON c.id = d.parent_id
        WHERE
            p.id IN (
            SELECT
                perm_id
            FROM
                t_role_permission
            WHERE
            role_id = 15
            AND p.parent_id = 0
            ORDER BY p.sorts,c.sorts,d.sorts
    </select>-->

</mapper>