<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxust.edu.rental_room.dao.UserMapper" >

    <sql id="Base_Column_List" >
      id,
      name,
      email,
      loginName,
      status
  </sql>

    <select id="login" resultType="user">
        select <include refid="Base_Column_List" /> from user where loginName = #{loginName} and password = #{password}
    </select>


<!--

    <select id="findByQuery" resultType="user" parameterType="userQuery">
        select  <include refid="Base_Column_List" /> from t_user
        <where>
            <if test="name != null and name!=''">
                <bind name="likeName" value="'%' + _parameter.name + '%'" />
                and name like #{likeName}
            </if>
            <if test="loginName != null and loginName!=''">
                <bind name="likeLoginName" value="'%' + _parameter.loginName + '%'" />
                and loginName like #{likeLoginName}
            </if>
        </where>
    </select>

    &lt;!&ndash;根据Id查询&ndash;&gt;
    <select id="findById" resultType="user" parameterType="int" >
      SELECT * from t_user where id = #{id,jdbcType=INTEGER}
  </select>



    &lt;!&ndash;添加&ndash;&gt;
    <insert id="add" parameterType="user" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            name,
            email,
            loginName,
            password,
            status
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{name,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{loginName,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{status,jdbcType=TINYINT}
        </trim>
    </insert>


    &lt;!&ndash;删除&ndash;&gt;
    <delete id="deleteById" parameterType="int" >
      delete from t_user where id = #{id,jdbcType=INTEGER}
  </delete>

    &lt;!&ndash; 批量删除 &ndash;&gt;
    <delete id="deleteByIds">
        delete from t_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    &lt;!&ndash;更新&ndash;&gt;
    <update id="update" parameterType="user" >
        update t_user
        <set>
            <if test="name != null and name != ''" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
-->


</mapper>